<div class="container-fluid">
    <h2>List of Songs </h2>
    <ul class="list-group">
        <li><h1><%= link_to 'Sort By Genre' , '/song/genre'  %></h1></li>
        <li><h1><%= link_to 'Sort By Popularity' , '/song/popularity'  %></h1></li>
       
    </ul>
    <ul class="list-group">
        <% @list_song.each do |song| %>
            <li class="list-group-item">
                <%= link_to song.song_name, song  %>  
            </li>
        <% end %>
    </ul>
</div>
