<h2> <%= @show_song.song_name %> </h2>
    <ul class="list-group ">
        <li class="list-group-item"><b>Song Name: </b>"  <%= @show_song.song_name %> "</li>
        <li class="list-group-item"><b>Song Artist: </b>"  <%= @show_song.song_artist %> "</li>
        <li class="list-group-item"><b>Popularity: </b>"  <%= @show_song.popularity %> "</li>
        <li class="list-group-item"><b>Language: </b>"  To be added.. "</li>
        <li class="list-group-item"><b>Song Artist: </b>"  To be added.. "</li>
    
    </ul>