<%= render partial: 'band',
           collection: @band_list,
           locals: {show_link: true } %>

<p>We are the Amberlite Band </p>
<p>for inquiries please email us at amberliteBand@yahoo.com </p>
<p>Thank you for visiting our page</p>

<%= link_to 'Menu', root_path %>